---
layout: default
---
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">
        <i class="fa fa-leaf" aria-hidden="true"></i>
        Bloom Landscape Assistant
      </a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="http://app.plantwithbloom.com" class='start'>
        <div class='start'>Design your Yard</div>
      </a></li>
    </ul>
  </div>
</nav>

<div class='container'>

  <header class="post-header">
    <h2 class="post-title">{{ page.title | escape }}</h2>
  </header>

  {{ content }}
</div>

<div class='text-center cta'>
  <h3>Ready to start designing your yard?</h3>
  <a class='btn btn-primary' href='http://app.plantwithbloom.com'>Get Started</a>
</div>